:root {
    --text: #c7d6ff;
    --sub-text: #9aa3bc;
    --line-height: normal;
    --title: #6d86ff;
    --bold: #47f3a4;
    --preformatted: #e6c07b;
    --summary: #454bff;
    --back: #090f16;
    --back2: #0f1720;
    --transparentBack: #090f1677;
    --hover: #17222e;
    --line: #1e4976;
    --math: #41f0c1;
    --space: 0px;
    --code: #08172a;
    --code-color: #abb2bf;
    --table: #040609;
    --table-head: #292b56;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
}

body {
    background-color: var(--back);
    color: var(--text);
}


table {
    box-shadow: 0px 4px 2px -1px rgb(0 0 0 / 40%), 0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 25%);
    border-collapse: collapse;
    background: var(--table);
    border-radius: 6px;
    border: 1px solid var(--line);
    overflow: hidden;
    padding: 1px;
    margin-top: 4px;
    margin-bottom: 4px;
}

thead tr {
    background: var(--table-head);
}

tbody tr {
    border-bottom: 1px dotted #163455;
}

tbody tr:last-child {
    border-bottom: none;
}

th {
    color: var(--math);
    padding-left: 5px;
    padding-right: 5px;
}

td {
    border-left: 1px solid var(--line);
    border-right: 1px solid var(--line);
    padding: 4px;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

input {
    background-color: var(--back);
    color: var(--text);
    border: 1px solid var(--line);
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
}

input[type="number"],
input[type="text"] {
    width: 4em;
}

select {
    background-color: var(--back2);
    color: var(--text);
    border: 1px solid var(--line);
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
}

select option {
    background-color: var(--back2);
    color: var(--text);
}

#main-div {
    display: inline-flex;
}

h4 {
    margin: 0;
    padding: 0;
}

svg {
    border: 1px solid var(--line);
}

button {
    color: #6df4d0;
    background-color: #001e3c;
    border: 1px solid var(--line);
    border-radius: 3px;
    margin: 5px;
    padding: 3px 10px 3px 10px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 40%), 0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 25%);
}

button:hover {
    background-color: #073058;
}

button:active {
    background-color: #004c99;
    box-shadow: none;
    transform: translateY(2px);
}

#left-div {
    padding-left: 1em;
    margin-left: 1em;
    border-left: 1px solid var(--line);
}

#info {
    width: 15em;
}

#copy-msg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10em;
    background-color: var(--back);
    color: var(--text);
    text-align: center;
    padding: 5px;
    z-index: 100;
}

#output-div {
    padding: 0;
    margin: 0;
    width: min-content;
    height: max-content;
    position: relative;
}

#handles {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--handle-color);
    opacity: 50%;
    border-radius: 50%;
    cursor: grab;
}

.container {
    border: 1px solid var(--line);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    background-color: var(--back2);
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 40%), 0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 25%);
}

h3 {
    margin: 0px;
    background-color: var(--back);
    padding: 10px 10px 3px 10px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--line);
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 40%), 0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 25%);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--back);
    margin: 0 5px;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid var(--line);
    border-radius: 2px;
    transform: translateY(3px);
}

input[type="checkbox"]:checked {
    background-color: var(--line);
}

input[type="checkbox"]:hover {
    background-color: var(--hover);
}


input[type="checkbox"]:hover:checked {
    background-color: var(--title) !important;
}